
*{
	margin:0px;
	paddng:0px;
}

header {
   width: 100%;
   padding: 10px 0px 10px;
   background-color: #fff;
   top: 0;
   display: flex;
}

input[type=text]{
	width:60%;
	height: 6%;
}
input[type=password]{
	width:60%;
	height:6%;
}

#moji
{
	text-decoration: none;
	margin:0 auto;
	display:block;
	width:119px;
}
h1
{
	text-align:center;
	background-image: url('image/concrete3.jpg');
	background-repeat:repeat-x;
	height:80px; padding:10px;
}
#log
{
  background-color: white;
  text-align:center;
  margin: 15px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 3px;
  box-shadow: 0 10px 15px -2px rgba(10, 10, 10, 0.4);
  padding: 30px;
}
p#botom
{
  background-color: white;
  text-align:center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 3px;
  box-shadow: 0 10px 15px -2px rgba(27, 33, 58, 0.4);
  padding: 20;
}
.btn{
  display: inline-block;
  padding: 2% 10%;
  background: #3ea60c;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.btn:hover {
  background: #ffffff;
  border: solid 2px #3ea60c;
  color: #3ea60c;
  opacity: 0.8;
}




/*body
{
  display: block;
  /*position: absolute;*/
  /*content: '';
  background: transparent;
  border-bottom: 100px solid #ddd;
  border-left: 100px solid transparent;*/
  /*position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 1;
}*/
