
*{
	margin:0px;
	paddng:0px;
}

input[type="text"]{
	width:400px;
	height:30px;
}
input[type="password"]{
	width:400px;
	height:30px;
}

header {
   width: 100%;
   padding: 10px 0px 10px;
   background-color: #fff;
   top: 0;
   display: flex;
}

#moji
{
	text-decoration: none;
	margin:0 auto;
	display:block;
	width:119px;
}
.mame
{
  text-align:left;
  color: #5c6956;
  font-size: 15px;
  padding: 0 0 10 0;
}
h1
{
	text-align:center;
	background-image: url('image/concrete3.jpg');
	background-repeat:repeat-x;
	height:80px; padding:10px;
}
#log
{
  background-color: white;
  text-align:center;
  margin: 15px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 3px;
  box-shadow: 0 10px 15px -2px rgba(10, 10, 10, 0.4);
  padding: 30px;
}
p#botom
{
  background-color: white;
  text-align:center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 3px;
  box-shadow: 0 10px 15px -2px rgba(27, 33, 58, 0.4);
  padding: 20;
}
.btn{
  display: inline-block;
  padding: 2% 10%;
  background: #3ea60c;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.btn:hover {
  background: #ffffff;
  border: solid 2px #3ea60c;
  color: #3ea60c;
  opacity: 0.8;
}




