h1
{
	text-align:center;
}
.border
{
	margin-left: auto;
	margin-right: auto;
}
#total
{
	/*text-align:center;*/
}
#top
{
	display: table;
    max-width: 180px;
    text-align: left;
    border: 2px solid #6a16d9;
    font-size: 16px;
    color: #5709bd;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    transition: .4s;
}
body{
	/*background-image:url('image/concrete.jpg');
	background-repeat:repeat-x;
	/*background-repeat:no-repeat;
	background-repeat: space repeat;
	/*background-repeat:repeat-y; 垂直repeat
	/*background-attachment:fixed;
	background-attachment:scroll;/*一緒に*/
	/*position: fixed; 固定*/

	 margin: 50px auto 0;
	 width: 500px;
	 height: 477px;
	 background-image: url('image/concrete2.jpg'), url('image/concrete2.jpg');
	 background-repeat: repeat-y, repeat-y;
	 background-position: 0% 50%, 100% 0%;
	 background-attachment:scroll;

    /*width:400px;*/
    /*margin-top: 0;*/
    margin-left: auto;
	margin-right: auto;
    /*background: #fff000;*/
}
p.syasinn img{
    width: 300px;  /* 横幅を200pxに */
}

/*img.body{
width: 96px;
height: 65px;
}*/
html{
    height: 100%;
    /*background-color: #095fab;*/
    text-align: center;
    margin: 0;
}